.citation {
	font-style: italic;
	margin-left: 40px;
	padding-left: 1em;
	background-color:#D8D8D8
}
th,td {
	padding:0.25em;
}
table {
	margin:1em 5%;
	border-collapse:collapse;
	
}

.pxDocKeyword {
	color: #0080C0 !important;
	font-weight: bold !important;
}
.pxDocProperty {
  font-style: italic !important;
  color: #0080C0 !important;
}
.keyword {
	color: #7F0055 !important;
	font-weight: bold !important;
}
table.keyword {
	margin-left:2.1pt;
	border-collapse:collapse;
	mso-table-layout-alt:fixed;
 	border:none;
 	mso-border-alt:solid black .5pt;
 	mso-padding-alt:0cm 2.1pt 0cm 2.1pt;
 	mso-border-insideh:.5pt solid black;
 	mso-border-insidev:.5pt solid black
}
td.header {
	border:solid black 1.0pt;
	mso-border-alt:solid black .5pt;
	background:black;
	mso-shading:windowtext;
	mso-pattern:solid black;
	padding:0cm 2.1pt 0cm 2.1pt;
	color:#FFFFFF
}
td.attribute {
	border:solid black 1.0pt;
	border-top:none;
	mso-border-top-alt:solid black .5pt;
	mso-border-alt:solid black .5pt;
	padding:0cm 2.1pt 0cm 2.1pt
}
p.UsageOfpxDoc, li.UsageOfpxDoc, div.UsageOfpxDoc
	{mso-style-name:UsageOfpxDoc;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:8.0pt;
	margin-left:0cm;
	line-height:107%;
	mso-pagination:widow-orphan;
	border:none;
	mso-border-bottom-alt:solid #4472C4 .5pt;
	mso-border-bottom-themecolor:accent1;
	padding:0cm;
	mso-padding-alt:0cm 0cm 1.0pt 0cm;
	font-size:12.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:"Calibri Light",sans-serif;
	mso-ascii-font-family:"Calibri Light";
	mso-ascii-theme-font:major-latin;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:"Calibri Light";
	mso-hansi-theme-font:major-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	color:#4472C4;
	mso-themecolor:accent1;
	mso-ansi-language:EN-US;
	mso-fareast-language:EN-US;
	font-weight:bold;
	mso-bidi-font-weight:normal;}
.note {
	background-color:#ddffdd;
	border-left:6px solid #22b8f0;
	margin-top:16px;
    margin-bottom:16px;
    display:block;
    padding:0.01em 16px;
}
